<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="text-center">
    <h1>Shopping List</h1>

    <!-- <p class="lead"></p>
    <p class="lead"></p> -->
    </div>
  </div>  
    <div class="row">
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Lists</span></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Store</span></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Users</span></h2>
            </div>
          </div>
           <br>
            <div class="text-center">
            <p class="lead">
                Management System For Our Ever Expanding Team
            </p>
            </div>
        </div>
    </div><!--/row-->
</section>
