<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="text-center">
    <h1>Shopping List</h1>
    <a href="shoppinglists"><h2 class="text-center"><span class="label label-primary">Go to Lists</span></h2>
    </a>
    <br />
    <p class="lead">These are the voyages of the Starship Enterprise. Its continuing mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no one has gone before. We need to neutralize the homing signal. Each unit has total environmental control, gravity, temperature, atmosphere, light, in a protective field. Sensors show energy readings in your area. We had a forced chamber explosion in the resonator coil. Field strength has increased by 3,000 percent.
    <p class="lead"></p>
    </div>
  <!-- </div>  
    <div class="row">
          <div class="col-md-4">
            <div class="well"> 
              <a href="shoppinglists"><h2 class="text-center"><span class="label label-primary">Lists</span></h2>
              </a>
            </div>
          </div> -->
         <!--  <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-primary">Store</span></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well"> 
              <h2 class="text-center"><span class="label label-success">Users</span></h2>
            </div>
          </div> -->
           <!-- <br>
            <div class="text-center">
            <p class="lead">
            </p>
            </div> -->
        </div>
    </div><!--/row-->
</section>
