<section class="container" ng-controller="HomeController">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1>Shopping Lists</h1>
        <div class="col-md-7">
          <p>These are the voyages of the Starship Enterprise. Its continuing mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no one has gone before. We need to neutralize the homing signal. Each unit has total environmental control, gravity, temperature, atmosphere, light, in a protective field. Sensors show energy readings in your area. <!-- We had a forced chamber explosion in the resonator coil. Field strength has increased by 3,000 percent. --></p>
        </div>
        <div class="clear-fix">&nbsp;</div>
        <div class="col-md-12">
        <p style="margin-top:20px;"><a class="btn btn-primary btn-lg" href="/shoppinglists">Go to Your Lists</a></p> 
        </div>  
      </div>
    </div>
  </div>
</section>
