<section>
  <div class="page-header">
    <h1>{{vm.shoppinglist._id ? 'Edit Shoppinglist' : 'New Shopping List'}}</h1>
  </div>
  <div class="panels-wrapper col-md-12">

    <div class="col-md-6 col-xs-12">
      <div class="">
        <form name="vm.form.shoppinglistForm" ng-submit="vm.save(vm.form.shoppinglistForm.$valid)" ng-style="{color: vm.shoppinglist.color}" novalidate>
          <fieldset>

            <!-- TITLE -->
            <div class="form-group" show-errors>
              <label class="control-label" for="title">Title</label>
              <input name="title" type="text" ng-model="vm.shoppinglist.title" id="title" class="form-control" placeholder="Enter title (name) for this list" ng-style="{color: vm.shoppinglist.color}" required>
              <div ng-messages="vm.form.shoppinglistForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Shopping list title is required.</p>
              </div>
            </div>

            <!-- COLOR -->
            <div class="form-group" style="margin-bottom:0;">
              <label class="control-label" for="color">List Color:</label>
            </div>
            <div class="form-group form-inline" style="margin-left:10px;">
                <label class="control-label">Select</label>
                <input type="color" value="#736F6E" name="color" ng-model="vm.shoppinglist.color">&nbsp;
              
                <!-- HEX CODE INPUT -->
                <label class="control-label">&nbsp;&nbsp;or Enter</label>
                <input type="text" minlength="7" maxlength="7" pattern="[#A-Fa-f0-9]{7}" value="" placeholder="Hex Value (#736F6E)" ng-model="vm.shoppinglist.color"><!-- &nbsp;<button type="button" class="btn btn-link" href="http://www.color-hex.com/" target="_blank">Lookup a Hex Value&nbsp;<span class="glyphicon glyphicon-link" aria-hidden="true"></span></button> -->

                <span id="helpBlock" class="help-block">Choose a color by either clicking on color picker box or by directly entering in a color hex value (ex: #736F6E) in the field above.</span>
              <div class="clear-fix">&nbsp;</div>                
            </div> 

            <!-- <div class="clear-fix">&nbsp;</div> -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary">&nbsp;&nbsp;{{vm.shoppinglist._id ? 'Update' : 'Create'}}&nbsp;&nbsp;</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>

          </fieldset>
        </form>
      </div>


    </div>

  </div>

</section>